.container3 {
    clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
    background: $secondaryColor;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    footer {
        padding-top: 100px;
        .footer__logo {
            display: flex;
            flex-direction: column;
            .footer__mainlogo {
                padding: 10px;
            }
        }

        .footer__phone {
            display: flex;
            align-items: center;
            .footer__phoneicon {
                padding: 10px;
            }
        }

        .footer__email {
            display: flex;
            align-items: center;
            .footer__emailicon {
                padding: 10px;
            }
        }
        
        .footer__updates {
            display: flex;
            padding: 10px;
            flex-direction: column;
            .footer__updatestext {
                padding: 30px 0;
            }
            .footer__updatesinput {
                width: 100%;
                border-radius: 5px;
                padding: 10px 0;
                border: none;
            }
            .footer__updatesbutton {
                margin-top: 15px;
                background: $accent1;
                border: none;
                border-radius: 5px;
                padding: 1.2em;
                width: 60%;
                color: #fff;
                align-self: flex-end;
            }
        }

    }
}