.gallery {
    height: 100vh;
}

.gallery .container {
    height: 100%;
}

.gallery__container {
    display: flex;
    align-items: center;
    height: 70%;
}

.gallery__item {
    flex-basis: 33.333%;
    height: 300px;
    padding: 10px
}

.gallery__img {
    width: 100%;
}

.gallery__title {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.gallery__paragraph {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}