.header {
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    position: fixed;
    background: none;
    transition: none;
    box-shadow: none;
    @media #{$tablet} {
        height: 70px;
        width: 100%;
        position: initial;
        transition: 0.5s all;
    }
}

// .header-sticky {
//     position: absolute;
//     background: none;
//     transition: none;
//     box-shadow: none;
//     @media #{$tablet} {
//         background: darken(mix($color1, $color2), 5%);
//         height: 80px;
//         box-shadow: 0 1px 3px rgba(black, 0.4);
//     }
// }

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    @media #{$tablet} {
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
}

.header__logo {
    display: block;
}

.header__logo-image {
    height: 175px;
    width: 175px;
    display: block;
    @media #{$tablet} {
        height: 200px;
        width: 200px;
    }
}

.header__navlist {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header__navitem {
    font-size: 12px;
    padding: 2px;
    @media #{$tablet} {
        font-size: 16px;
        padding: 10px;
    }
}

.header__navlink {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    color: $color1;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s all;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: $color4;
        height: 2px;
        transition: 0.5s all;
    }
    &:hover {
        color: $color2;
    }
    &:hover:before {
        right: 0;
        left: 0;
    }
}
