.hero .container {
    display: flex;
    height: 300px;
    margin: 200px auto;
}

.hero__image {
    flex-basis: 50%;
    background: url(https://images.pexels.com/photos/764681/pexels-photo-764681.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hero__text {
    flex-basis: 50%;
}

