.parallax {
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1322728/pexels-photo-1322728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.parallax .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.parallax__text {
    flex-basis: 50%;
    color: #fff;
}

.parallax__text h2 {
    font-size: 30px;
    padding: 20px;
    padding-left: 0px;
}

.parallax__text p {
    font-size: 20px;
    font-weight: lighter;
}

.gallery {
    height: 100vh;
}

.gallery .container {
    height: 100%;
}

.gallery__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.gallery__item {
    flex-basis: 33.333%;
    height: 300px;
    padding: 10px
}

.gallery__img {
    width: 100%;
}

.gallery__title {
    align-self: flex-end;
}