.container2 {
    padding: 130px;
    // max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    background: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    position: relative;

    // &:after {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     background: inherit;
    //     z-index: -1;
    //     bottom: 0;
    //     transform-origin: left bottom;
    //     transform: skewY(5deg);
    //  }

    .product {
        height: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            text-align: center;
            color: $accent2;
            font-weight: 700;
            font-size: 30px;
        }

        .product__svgcontainer {
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 6em;
        }

        .product__svg {
            background-image: url("/images/illustration-features.svg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 70%;
            text-align: center;
        }

        .product__item {
            padding: 10px;
        }

        .product__itemtitle {
            padding-top: 10px;
            color: $accent2;
            font-weight: 700;
            font-size: 25px;
        }

        .product__itemtext {

            color: $neutral;
            padding-top: 15px;
            text-align: left;

        }

        // .product__form {
        //     padding-top: 100px;
        //     width: 100%;

        //     h2 {
        //         padding: 20px;
        //     }

        //     p {
        //         text-align: center;
        //         color: $accent2;
        //     }


        //     input {
        //         box-sizing : border-box;
        //         border-radius: 3px;
        //         padding: 18px;
        //         margin-top: 20px;
        //         border: none;
        //         width: 100%;
        //         box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        //     }

        //     .product__inputbutton {
        //         margin-top: 15px;
        //         background: $accent1;
        //         border: none;
        //         border-radius: 5px;
        //         padding: 1.2em;
        //         width: 100%;
        //         color: #fff;
        //     }
        // }

    }


}


footer {
    background: #000;
    padding: 50px;
}