doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title #{title}
		link(rel="stylesheet" type="text/css" href="dist/css/main.min.css")
		link(rel="stylesheet" href="dist/css/font.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="icon" href="dist/favicon.png")
	body
header.main
	a#main-menu-toggle.menu-toggle(href='#main-menu', role='button', aria-expanded='false', aria-controls='main-menu', aria-label='Open main menu')
		span.sr-only Open main menu
		span.fa.fa-bars(aria-hidden='true')
	h1.logo chain of blocks
	nav#main-menu.main-menu(role='navigation', aria-expanded='false', aria-label='Main menu')
		a#main-menu-close.menu-close(href='#main-menu-toggle', role='button', aria-expanded='false', aria-controls='main-menu', aria-label='Close main menu')
			span.sr-only Close main menu
			span.fas.fa-times(aria-hidden='true')
		ul
			li
				a(href='#') Home
			li
				a(href='#') ICO
			li
				a(href='#') WhitePaper
	a.backdrop(href='#main-menu-toggle', tabindex='-1', aria-hidden='true', hidden='')




