$primaryColor: hsl(243, 86%, 85%);
$secondaryColor: hsl(243, 87%, 12%);
$accent1: hsl(163, 95%, 43%);
$accent2: hsl(243, 58%, 33%);
$neutral: hsl(0, 0%, 50%);
$shadow: hsl(0, 0%, 99%);


$tablet: "screen and (min-width: 640px)";
$desktop: "screen and (min-width: 1024px)";


